@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

*{
    font-family: 'Courier New', Courier, monospace;
    margin: 10px;
    padding: 0;
    box-sizing: border-box;
    font-weight: 350;
}

body{
    height      : 100vh;
    background  : url("./image/milky-way-2695569_1280\ \(1\).jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: aliceblue;
}
.container {
    /* border: 4px solid rgb(190, 235, 145); */
    height: 300px;
    width: 300px;
    /* 要素を中心に移動 */
    margin: auto;
    /* 直下の要素を並列に */
    display: flex;
    justify-content: center;
    /* あとで絶対値で設定 */
    position: relative;
    /* 要素の拡大縮小 */
    transform: scale(1);
}

h1{
   transform: translateY(100px); 
}

#text{
    position: absolute;
    font-size: 1.3rem;
    padding: 8rem;
}

.circle{
    /* 親であるcontainerに大して100％ */
    height: 100%;
    width: 100%;

    background-color: rgb(7, 2, 37);
    /* 親要素の左上を起点にして設定 */
    position: absolute;
    top: 0;
    left: 0;

    border-radius: 50%;
    z-index: -1;
}

.outer-circle {
    height: 320px;
    width: 320px;

    background: conic-gradient(
        rgb(12, 149, 217) 0,
        rgb(43,12,217) 40%,
        rgb(239, 238, 240) 40%,
        rgb(239,238,240) 60%,
        rgb(239,12,217) 60%,
        rgb(239,12,217) 100%
    );
    position: absolute;
    top: -10px;
    left: -10px;
    border-radius: 50%;
    /* 要素の重なりを決める。 */
    z-index: -2;

}
.pointer-container {
    width: 30px;
    height: 190px;
    /* background-color: rgb(198, 241, 56); */

    position: absolute;
    top: -40px;
    
    /* 回転軸を決める。 */
    transform-origin: bottom center;
    /* 回転させたいからアニメーションつけよう */
    animation: rotate 7500ms linear forwards infinite;
}
.pointer {
    width: 30px;
    height: 30px;
    background-color: white;
    border-radius: 50%;
}
.container.big{
    animation: big 3s linear forwards;
    /* 下でbigのアニメーション作成 */
}
.container.small{
    animation: small 3s linear forwards;
    /* 下でbigのアニメーション作成 */
}


@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes big {
    0% {
        /* roteteだと回っちゃうからそれ使うのも面白そう */
        transform: scale(1);
    }
    100% {
        transform: scale(1.5);
    }
}

@keyframes small {
    0% {
        /* roteteだと回っちゃうからそれ使うのも面白そう */
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}